@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.nav{
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    list-style: none;
    align-items: center;
    margin: auto;
}
li{
    margin: 0 1rem;
}
.mid{
    margin-left: 5rem;
}
.profile-btn{
    display: flex;
    background: #ffffff;
    border-radius: 35px;
    padding: 5px 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(162, 162, 162);
}
.end-cont{
    display: flex;
    list-style: none;
    align-items: center;
}

.search-cont{
    display: flex;
    align-self: center;
}
.search-cont > ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 2px 5px;
    border: 1px solid rgb(179, 179, 179);
    box-shadow: 2px 2px 2px rgb(179, 179, 179);
    border-radius: 25px;
    flex-wrap: wrap;
    font-weight: 600;
}
#search{
    width: 35px;
}
.search-items::after{
    content: '|';
    padding-left: 5px;
}



.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    margin: 1rem 2rem;
}
.filter{
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 1px 1px 1px rgb(179, 179, 179);
    border: 1px solid #dfdfdf;
}
.main-wrapper{
    display: flex;
    padding: 1rem 2rem;
    height: 80.8dvh;
}
.left{
    width: 60%;
    overflow-y: auto;
}
.left::-webkit-scrollbar{
    display: none;
}
.desc{
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    margin-left: 1rem;
    position: relative;
    width: 100%;
}
.card{
    padding-bottom: 1rem; 
    border-bottom: 1px solid rgb(192, 192, 192); 
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}
.img{
    position: relative;
}
.img > img{
    width: 300px;
    height: 200px;
}
.distance{
    position: absolute;
    top: -7.5px;
    left: 20%;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.7rem;
    background-color: black;
    color: white;
}
.title,.first{
    margin-bottom: 0.75rem;
}
.rating-desc,.first,.sec{
    display: flex;
    gap: 0.5rem;
}
.review-cont{
    display: flex;
    justify-content: space-between;
}
.fa-regular{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
}
.right{
    width: 42%;
    margin-left: 1rem;
}
#map {
    width: 100%;
    height: 100%;
  }
